name: Publish to Reposilite
on:
  push:
    branches: ["master"]
    
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          server-id: reposilite # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Publish to Reposilite
        run: mvn -B deploy
        env:
          MAVEN_USERNAME: titansbattle
          MAVEN_PASSWORD: ${{ secrets.REPOSILITE_TOKEN }}    
  
